.index_title{
    text-align: center;
    font-size: 36px;
    color: #000000;
    margin-top: 5%;
}
.index_symbol_red{
    color: red;
}

@media screen and (max-width: 700px) {
    .index_title{
        font-size: 26px;
    }
    
}