.header__text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #000000;
  font-size: 48px;
  &--red{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: red;
    font-size: 48px;
  }
}
