.header__text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #000000;
  font-size: 48px;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  &--red{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: red;
    font-size: 48px;
  }
}

@media screen and (max-width: 700px) {
  .header__text{
    justify-content: center;
  }
}
