.navbar__inner {
  display: flex;
  border-bottom: 2px solid #000000;
  width: 100%;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .navbar__inner {
    flex-direction: column;
  }
}
